node_modules
.env

# Hardhat files
packages/contract/cache
packages/contract/artifacts

# TypeChain files
**/typechain
**/typechain-types

# solidity-coverage files
coverage
coverage.json

# artifacts
**/artifacts


# Hardhat Ignition default folder for deployments against a local node
**/ignition/deployments

.DS_Store
package-lock.json
pnpm-lock.yaml
yarn.lock

