.user-info{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap:7px;
    margin-bottom: 10px;
}

.card {
    margin-top: 25px;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:12px;
}

.hero-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}